

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.btn-primary{
    background-color: #4E47FF;
    font-size: bold 16px;
    color: white;
    border-radius: 5%;
    width: 150px;
    height: 50px;
    gap: 16px;

}
.header{
    background-image: url(../images/Hero-bg.png);
   
    background-position: center;
    height: ;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 20px 40px;
 

}
/* shared style */
.text-primary{
    color: #4E47FF;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-size: 35px;
    color: #4E47FF;
}
nav ul li{
    list-style: none;
}
.banner {
  text-align: center;
  margin-top: 100px;
  
  
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
/* section style */
.section-see{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 50px 100px 100px;
}
.section-content{
    max-width: 650px;

}
.section-content h2{
    font-size: bold 42px;
    color: #252432;
    margin-bottom: 250x;
}
.section-content p{
    font-size: regular 20px;
    color: #252432;
    margin-bottom: 25px;

}
.section-image{
width: 400px;
height: 300px;
}
/* section style 2 */
.section-joined{
align-items: center;
background-color: beige;
margin: 50px 100px 100px 50px;

}

.joind-title{
    font-size:bold 38px ;
    margin-bottom: 80px;
    font-weight: 600;
   text-align: center;
   margin-top: 30px;
}
.joind-stats{
display: flex;
justify-content: space-between 10px;
gap: 60px;
flex-wrap: wrap;
text-align: center;
margin: 100px 300px 100px ;
}



.joind-stat h3{
color: #4E47FF;
    font-size: bold ;
  
}
.joind-stat p{
font-size: regular 20px;
}
/* section skills */
.section-skill{
    ;
}
.skill-title{
text-align: center;
font-size: 42px;
}
.skill-content{
    display: flex;
background-color: white;
border-radius: 12px;
padding: ;
text-align: ;

}
.skill-contents{
    display: flex;
    margin: 80px 150px;
    justify-content: space-between;
}
.reviewer-name{

    font-size: 10px;
  font-weight: 500
}
.date{
    
font-size: 5px;
  
}
.Reviewer{
    display: flex;
    gap: 10px;
}
/* section ready */
.section-ready{
    justify-content: center;
    align-items: center;
    margin:  50px 100px 100px 200px;
}
.section-ready h1{
   font-size: bold 200px;
   
}
.section-ready p{
    font-size: 10px;

}
.section-big{
    max-width: 100%;
  height: auto;
  border-radius: 12px;
}
.section-ready-content{
    align-items: center;
    margin:50px 100px 50px 200px ;
}
/* form */
.section-form{
margin:50px 100px 100px 100x ;
}
.let{
    font-size: 48px;
  font-weight: 700;
}
.form-contact{
    display: flex;
    align-items: center;
justify-content: center;
margin: 50px 100px 200px 200px;
gap: 20px;
}
/* footer */
.footer {
  background-color: #f9f9ff;
  text-align: center;
  padding: 60px 20px;
  }

    .footer .logo {
  font-size: 48px;
  color: #4c4cff;
  font-weight: 700;
  margin-bottom: 16px;
}
footer-text {
  max-width: 600px;
  margin: 0 auto 30px auto;
  font-size: 16px;
  
    }
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.footer-nav a {
  color:;
  text-decoration: none;
  font-size: 14px;}
  .footer-nav a:hover {
  color: #4c4cff;
}