

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.btn-primary{
    background-color: #4E47FF;
    font-size: bold 16px;
    color: white;
    border-radius: 5%;
    width: 150px;
    height: 50px;
    gap: 16px;

}
.header{
    background-image: url(../images/Hero-bg.png);
   
    background-position: center;
    height: ;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 20px 40px;
 

}
/* shared style */
.text-primary{
    color: #4E47FF;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-size: 35px;
    color: #4E47FF;
}
nav ul li{
    list-style: none;
}
.banner {
  text-align: center;
  margin-top: 100px;
  
  
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
/* section style */
.section-see{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 50px 100px 100px;
}
.section-content{
    max-width: 650px;

}
.section-content h2{
    font-size: bold 42px;
    color: #252432;
    margin-bottom: 250x;
}
.section-content p{
    font-size: regular 20px;
    color: #252432;
    margin-bottom: 25px;

}
.section-image{
width: 400px;
height: 300px;
}